@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body, html {
  width: 100%;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}